/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #333;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;  
}

header h1 {
  margin: 0;
  padding-left: 11px;
  font-size: 23px;
}

nav ul {
  list-style: none;
  padding-left: 17px;
  margin: 0;
}

ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  float: right;
  margin: 11px;
}

/* Estilos para la barra de navegación fija */
.nav-fija {
  background-color: #333;
  color: #fff;
}

.nav-fija .container {
  display: flex;
  align-items: center;
  height: 50px; /* Ajusta según el contenido de la barra de navegación */
}

/* Estilos para las secciones */
.hero {
  background-color: #f4f4f4;
  padding: 73px 0;
  text-align: center;
}

.hero h2 {
  margin-top: 7px;
}

.features {
  padding: 50px 0;
  text-align: center;
}

.hero-acercaDe {
  background-color: #f4f4f4;
  padding: 73px 0;
  text-align: center;
}

.feature {
  margin-bottom: 23px;
}

/* Estilos para la sección "Inicio" oculta por defecto  */
.inicio {
  padding-top: 23px;
}

/* Estilos para la sección "Acerca de" oculta por defecto  */
.acercaDe {
  display: none;
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
