/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #333;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;  
}

header h1 {
  margin: 0;
  padding-left: 11px;
  font-size: 23px;
}

nav ul {
  list-style: none;
  padding-left: 17px;
  margin: 0;
}

ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Estilos para la barra de navegación fija */
.nav-fija {
  background-color: #333;
  color: #fff;
}

.nav-fija .container {
  display: flex;
  align-items: center;
  height: 50px; /* Ajusta según el contenido de la barra de navegación */
}

/* Estilos para las secciones */
.hero {
  background-color: #f4f4f4;
  padding: 50px 0;
  text-align: center;
}

.hero h2 {
  margin-top: 0;
}

.features {
  padding: 50px 0;
  text-align: center;
}

.feature {
  margin-bottom: 30px;
}

/* Estilos para la sección "Inicio" oculta por defecto  */
.inicio {
  padding-top: 23px;
}

/* Estilos para la sección "Acerca de" oculta por defecto  */
.acercaDe {
  display: none;
}

/* Estilos para el botón de abrir modal */
#abrirModal {
  display: inline-block;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}

/* Estilos para la ventana modal oculta por defecto */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* Fondo oscuro semitransparente */
}

/* Estilos para el contenido de la ventana modal */
.modal-contenido {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 60%;
  overflow: hidden;
}

/* Estilos para el botón de cerrar */
.cerrar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para el contenedor del chat */
.chat-container {
  max-height: calc(100% - 100px);
  overflow-y: auto;
  margin-bottom: 10px;
}

/* Estilos para el chatbox */
.chatbox {
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  height: calc(100% - 100px);
  overflow-y: auto;
}

/* Estilos para el área de entrada de mensajes */
.mensaje-input {
  width: calc(100% - 80px);
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  position: fixed;
  bottom: 23px;
  left: 20px;
}

/* Estilos para el botón de enviar */
.enviar-btn {
  background-color: #008CBA;
  right: 150px;
}

/* Estilos para el botón de borrar */
.borrar-btn {
  background-color: #f44336;
  right: 11px;
}

/* Estilos para los botones de enviar y borrar */
.enviar-btn,
.borrar-btn {
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 2px;
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
